<template>
  <div class="container">
    <Preloader v-if="isLoading"></Preloader>
    <div v-else>

      <FeedbackList :feedbacks="feedbacks"
                    :feedbacksToShow="feedbacksToShow" />
      <ShowMore v-if="showPaginateButton"
                @click.native="handlePaginate" />
    </div>

  </div>

</template>

<script>
  import Preloader from "@/components/ui/Preloader/Preloader";
  import FeedbackList from "@/components/WidgetContainer/FeedbackList/FeedbackList";
  import ShowMore from "@/components/ui/ShowMore/ShowMore";

  export default {
    name: "WidgetContainer",
    data() {
      return {
        feedbacks: [],
        isLoading: true,
        feedbacksToShow: 5
      };
    },

    computed: {
      showPaginateButton() {
        return this.feedbacksToShow < this.feedbacks.length;
      }
    },
    methods: {
      handlePaginate() {
        this.feedbacksToShow += 5;
      }
    },
    components: {
      Preloader,
      FeedbackList,
      ShowMore
    },
    async created() {
      const response = await fetch(
        "https://gist.githubusercontent.com/devbl/8e10ab4abe2ca613afd0db67f85d80d0/raw/a02f23b20f5a21fd13878c431874c56640b84d42/feedbacks.json"
      );
      const data = await response.json();

      this.feedbacks = data.list;
      this.isLoading = false;
    }
  };
</script>

<style lang="scss" scoped>
  @import "@/css/colors.scss";

  .container {
    background-color: $secondaryLight;
    padding: 10px;

    height: 100;
  }
</style>
