<template>
  <ul class="photos">
    <Photo v-for="photo in photos"
           :key="photo.id"
           :photo="photo"></Photo>

  </ul>
</template>

<script>
  import Photo from "./Photo/Photo.vue";

  export default {
    name: "Photos",
    props: {
      photos: {
        type: Array,
        default: () => []
      }
    },
    components: {
      Photo
    }
  };
</script>

<style lang="scss" scoped>
  .photos {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }
</style>
