<template>
  <li class="feedback">
    <Author :author="feedback.author" />
    <FeedbackText :text="feedback.body"
                  :title="feedback.title"
                  :rating="feedback.rating"
                  :photos="feedback.attachments" />
    <div class="feedback__actions"></div>
    <Actions :likes="feedback.statistics.vote_count"
             :comments="feedback.statistics.answer_count" />
  </li>
</template>

<script>
  import Author from "./Author/Author.vue";
  import FeedbackText from "./FeedbackText/FeedbackText.vue";
  import Actions from "./Actions/Actions.vue";

  export default {
    name: "FeedbackItem",
    props: {
      feedback: {
        type: Object,
        required: true
      }
    },
    components: {
      Author,
      FeedbackText,
      Actions
    }
  };
</script>

<style lang="scss" scoped>
  @import "@/css/colors.scss";

  .feedback {
    background-color: #ffffff;

    margin: 5px;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;

    box-shadow: 0px 0px 1px 1px rgba(154, 147, 140, 0.08);
  }
</style>
