<template>
  <div class="text">
    <div class="feedback-images"></div>
    <div class="body-wrapper">

      <div class="photos-wrapper">
        <Photos :photos="photos"></Photos>
      </div>

      <div class="text-wrapper">
        <div class="text__heading-wrapper">
          <span class="text__heading">
            {{title}}
          </span>
          <RatingStars :rating="rating" />
        </div>

        <p class="text__body"
           v-html="text"></p>
      </div>
    </div>
  </div>
</template>

<script>
  import RatingStars from "./RatingStars/RatingStars.vue";
  import Photos from "./Photos/Photos.vue";

  export default {
    name: "FeedbackText",
    props: {
      text: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      rating: {
        type: Number,
        required: true
      },
      photos: {
        type: Array,
        default: () => []
      }
    },
    components: {
      RatingStars,
      Photos
    }
  };
</script>

<style lang="scss" scoped>
  .body-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .text {
    margin-top: 15px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__heading-wrapper {
      display: flex;
      align-items: center;
    }

    &__heading {
      margin-bottom: 0;
      font-size: 20px;

      margin-right: 10px;
    }

    &__body {
      text-align: left;
    }
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
  }

  .photos-wrapper {
    margin-right: 20px;
  }
</style>
