<template>
  <li class="photos__item"
      :class="notLoaded ? 'photos__item--placeholder': ''">
    <img :src="photo.url"
         :alt="photo.title"
         @error="handleError"
         class="photos__image"
         v-if="!notLoaded">
  </li>
</template>

<script>
  export default {
    name: "Photo",
    data() {
      return {
        notLoaded: false
      };
    },
    props: {
      photo: {
        type: Object,
        required: true
      }
    },
    methods: {
      handleError(e) {
        this.notLoaded = true;
      }
    }
  };
</script>

<style lang="scss" scoped>
  @import "@/css/colors.scss";

  .photos {
    &__item {
      width: 150px;
      height: 150px;

      border: 1px solid $secondaryDark;
      margin: 10px;
      margin-left: 0;
      border-radius: 3px;

      &--placeholder {
        background-image: url("~@/assets/empty-image.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
    }
  }
</style>
