<template>
  <button class="show-more">Load more</button>
</template>

<script>
  export default {
    name: "ShowMore"
  };
</script>

<style lang="scss" scoped>
  @import "@/css/colors.scss";

  .show-more {
    margin-top: 25px;
    margin-bottom: 25px;

    border: 2px solid $primaryLight;
    background-color: transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 16px;

    color: $primary;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
</style>
