<template>
  <ul class="feedback-list">
    <FeedbackItem v-for="feedback in showFeedbacks"
                  :feedback="feedback"
                  :key="feedback.uuid" />
  </ul>
</template>

<script>
  import FeedbackItem from "./FeedbackItem/FeedbackItem";

  export default {
    name: "FeedbackList",
    props: {
      feedbacks: {
        type: Array,
        default: []
      },
      feedbacksToShow: {
        type: Number,
        required: true
      }
    },
    computed: {
      showFeedbacks() {
        return this.feedbacks.slice(0, this.feedbacksToShow);
      }
    },
    components: {
      FeedbackItem
    }
  };
</script>

<style lang="scss" scoped>
  .feedback-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
</style>
