<template>
  <div class="actions">
    <Likes :likes="likes" />
    <Comments :comments="comments" />
    <span class="time">vor 5 minuten</span>
    <span class="comment">Kommentieren</span>
  </div>
</template>

<script>
  import Likes from "./Likes/Likes";
  import Comments from "./Comments/Comments";

  export default {
    name: "Actions",
    props: {
      likes: {
        type: Number,
        required: true
      },
      comments: {
        type: Number,
        required: true
      }
    },
    components: {
      Likes,
      Comments
    }
  };
</script>

<style lang="scss" scoped>
  .actions {
    display: flex;
    align-items: center;

    margin-top: 10px;
  }

  .time {
    margin-right: 10px;
  }
</style>
