<template>
  <ul class="rating">
    <li class="rating__star"
        v-for="n in rating"
        :key="n">
      <svg viewBox="0 0 32 32"
           class="icon icon-star"
           aria-hidden="true">
        <path d="M16 4.588l2.833 8.719H28l-7.416 5.387 2.832 8.719L16 22.023l-7.417 5.389 2.833-8.719L4 13.307h9.167L16 4.588z" /></svg>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "RatingStars",
    props: {
      rating: {
        type: Number,
        required: true
      }
    }
  };
</script>

<style lang="scss" scoped>
  @import "@/css/colors.scss";

  .rating {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;

    &__star {
      width: 30px;
      height: 30px;
      fill: $primary;
    }
  }
</style>
