<template>
  <div id="app">
    <WidgetContainer />
  </div>
</template>

<script>
  import WidgetContainer from "./components/WidgetContainer/WidgetContainer";

  export default {
    name: "app",
    components: {
      WidgetContainer
    }
  };
</script>

<style scoped>
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
