<template>
  <div class="author">
    <div class="image-wrapper">
      <img class="author__avatar"
           v-if="author.avatar && !notLoaded"
           :src="author.avatar"
           :alt="nameFirstLetter"
           width="100%"
           height="100%"
           @error="handleError" />

      <span v-else>{{nameFirstLetter}}</span>
    </div>

    <div class="author__name-wrapper">
      <p class="author__name">{{author.name}}</p>
      <p class="author__time">vor 15 minuten</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Author",
    props: {
      author: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        notLoaded: false
      };
    },
    computed: {
      nameFirstLetter() {
        return this.author.name.slice(0, 1);
      }
    },
    methods: {
      handleError(e) {
        this.notLoaded = true;
      }
    }
  };
</script>

<style lang="scss" scoped>
  @import "@/css/colors.scss";

  .author {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__name {
      margin: 0;
      text-transform: capitalize;

      &:hover {
        color: $primaryLight;
      }
    }

    &__time {
      margin: 0;
      font-size: 12px;
    }
  }

  .image-wrapper {
    width: 50px;
    height: 50px;

    margin-right: 10px;

    border-radius: 50%;

    background-color: $primaryLight;

    text-transform: capitalize;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .author__name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>
